.App {
    margin: 50px auto;
    text-align: center;
    max-width: 600px;
}

.Counter {
    background: #654ec2;
    border: 5px solid slateblue;
    color: white;
    border-radius: 5px;
}

.MonitorWrap {
    border: 1px solid white;
}

.Monitor {
    padding: 10px 5px;
    color: white;
    font-size: 22px;
}

.Color {
    color: lightblue;
}

.ButtonsWrap {
    border: 1px solid white;
    border-top: none;
}

.Buttons {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
    gap: 5px;
    padding: 20px 0;
}

.Button {
    border: 2px solid aliceblue;
    cursor: pointer;
    background: slateblue;
    color: white;
    padding: 5px 10px;
}

.Disable {
    opacity: .5;
}
