.App {
    display: grid;
    place-items: center;
    gap: 10px;
}

.NavLink {
    text-decoration: none;
    color: darkslateblue;
}

.Active {
    color: mediumslateblue;
    text-decoration: underline;
}

.Title {
    color: mediumslateblue;
}
